[Unit]
Description=Wpa supplicant for %I
Wants=network.target
Before=network.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 1
ExecStart=/usr/bin/wpa_supplicant -i %I -c /etc/wpa_supplicant/wpa_supplicant.conf
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target
